{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://googledrive.com/host/0B9krI4oNidjiVUpfZVVVdzlBR0k/">


    <title>ya football db</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://googledrive.com/host/0B9krI4oNidjiNW9NZld5aFFUWGc/" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- players.css -->
    
    <link href="https://googledrive.com/host/0B9krI4oNidjiNW9NZld5aFFUWGc/" type="text/css" rel="stylesheet">
    <link href="https://googledrive.com/host/0B9krI4oNidjiRWVXTkc0R1otQVk/" type="text/css" rel="stylesheet">
    <link href="https://googledrive.com/host/0B9krI4oNidjicEZSU0Q0TzV5Nlk/" type="text/css" rel="stylesheet">
        <link href="https://googledrive.com/host/0B9krI4oNidjiV3BfcW1pcWdYT2c/" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="../"><span class="ya">ya</span><span class="football">football</span><span class="db">db</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../divisions/">Divisions</a>
                    </li>
                    <li>
                        <a href="../teams/">Teams</a>
                    </li>
                    <li>
                        <a href="../players/">Players</a>
                    </li>
                    <li>
                        <a href="../about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Players</h1>
                        <h3>This is a list of all the players in the NFL and some important facts about them!</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Players</h3>

<div class="table-responsive">

            <table class="display table" id="bootstrap-table">
                <thead>
                <tr>
                  <th>Player</th>
                  <th>Number</th>
                  <th>Team</th>
                  <th>Position</th>
                  <th>College</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Seasons Played</th>
                </tr>
                </thead>
                <tbody>
                {% for pla, plaurl, num, tea, teaurl, pos, col, hei, wei, seasons in pinfo %}
                <tr>
                  <td><a href="{{plaurl}}" style="color:black">{{pla}}</a></td>
                  <td>{{num}}</td>
                  <td><a href="{{teaurl}}" style="color:black">{{tea}}</a></td>
                  <td>{{pos}}</td>
                  <td>{{col}}</td>
                  <td>{{hei}}</td>
                  <td>{{wei}}</td>
                  <td>{{seasons}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<br>
<!-- Footer -->
    <footer>
        <div class="container" align = "center">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline" >
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="../about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="mailto:yafootballdb@gmail.com">Contact</a>
                        </li>
                    </ul>
                    <a href="https://twitter.com/nfl">
                    <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter.png" width="35" height="35" />
                    </a>
                    <a href="https://www.facebook.com/NFL">
                    <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook.png" width="35" height="35" />
                    </a>
                </div>
            </div>
        </div>
    </footer>

<script>
$(document).ready( function(){
    $('#bootstrap-table').dataTable({
    "iDisplayLength": 50,
    "aLengthMenu": [[50, 100, 150, 200, 250, -1], [50, 100, 150, 200, 250, "All"]]
    });
});
</script>

<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','BuTxYQzkcSMz_4wRq732','2.0.0');
</script>
</body>
</html>