
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Tony Romo</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'polls/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'polls/general.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html"><span class="ya">ya</span><span class="football">football</span><span class="db">db</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="divisions.html">Divisions</a></li>
            <li><a href="teams.html">Teams</a></li>
            <li><a href="players.html">Players</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="theme-showcase" role="main">

      <div class="container jumbotron name-jumbo vertical-center">
        <div class="col-md-8 player-name">
          Tony Romo
        </div>
        <div class="col-md-4">
            <div class="player-number">No. 9</div>
            <div class="player-team"><a href="dallascowboys.html">Dallas Cowboys</a></div>
        </div>
      </div>

      <div class="container jumbotron stats">
        <div class="col-md-4">
          <img src="https://lh4.googleusercontent.com/o3ITcjelsb-EF1B3eogeQjcS8fYDyB9HCgJp4ptz_jATmU233R2Q1phxaZ_XQ4TH-xFs4A=w1327-h561" class="img-responsive center-block">
        </div>
        <div class="col-md-8">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Position</th>
                <th>Quarterback</th>
              </tr>
              <tr>
                <th>Height</th>
                <th>6 ft 2 in</th>
              </tr>
              <tr>
                <th>Weight</th>
                <th>230 lb</th>
              </tr>
              <tr>
                <th>Seasons Played</th>
                <th>13</th>
              </tr>
              <tr>
                <th>College</th>
                <th>Eastern Illinois</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
